{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">Fantasy Football Draft App</h2>
    <div class="row">

        {% for player in players %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{player.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">
                        {% if player.team %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h6>
                    <p class="card-text">
                        This {{player.name}} is {{player.team}}
                    </p>

                    <a href="/players/{{player._id}}" class="btn btn-info">View {{player.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}