{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
        <div class="row">
            {% for player in players %}
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item"> {{player.name}} | {{player.position}} | {{player.team}} | ADP: {{player.averageDraftPositionPPR}} | Bye: Week  {{player.byeWeek}}</li>
                </ol>
            {% endfor %}    
        </div>
</div>

{% endblock %}