{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
        <div class="row">
            <!-- <h6>QB RB WR TE FLEX DST K</h6> -->
            {% for player in players %}
            {% if player.drafted == false %}
                <ul class="list-group list-group">
                    <li class="list-group-item">
                        <div class="row">
                            
                            <form class="col-1" action="/draft/draft/{{player._id}}?_method=PUT" method="POST">
                                
                                <input type="hidden" value= {{player._id}}>
                                <button type="submit" class="button" >Draft</button>
                            </form>
                            
                            
                            <a class="col" href="/draft/{{player._id}}"> {{player.name}} / {{player.position}} / {{player.team}}</a>
                            <div class="col-3">
                                ADP: {{player.averageDraftPositionPPR}}
                           </div> 
                            <div class="col-3">
                                 Bye: Week  {{player.byeWeek}}
                            </div> 
                        </div>
                    </li>
                </ul>
                {% endif %}
            {% endfor %}    
        </div>
</div>

{% endblock %}