{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
        <div class="row">
            <h6>QB RB WR TE FLEX DST K</h6>
            {% for player in teams[0].players %}
                <ul class="list-group list-group">
                    <li class="list-group-item"><a href="/draft/{{player._id}}"> {{team.player.name}} / {{team.player.position}} / {{team.player.team}}</a> | ADP: {{team.player.averageDraftPositionPPR}} | Bye: Week  {{team.player.byeWeek}}</li>
                </ul>
            {% endfor %}    
        </div>
</div>

{% endblock %}