{% layout 'layout.liquid' %}
{% block content %}
    <div class="conatiner-md">
        <article></article>
            <h1>{{player.name}}</h1>
            <h4>{{player.position}}</h4>
            <h4>{{player.team}}</h4>
            <h4>ADP: {{player.averageDraftPositionPPR}}</h4>
            <h4>Bye Week: {{player.byeWeek}}</h4>
            <div class="btn-group">
        </article>
        <div class="col-md-15">
            <form action="/comments/{{player._id}}" method="POST">
                <fieldset>
                    <!-- <legend>Add Player Note</legend> -->
                    <label class="form-label">Comment:</label>
                    <input type="text" class="form-control" name="note" placeholder="Enter player note here" />
                </fieldset>
                <input type="submit" class="btn btn-success" value="Add comment" />
            </form>
        </div>
        {% if player.comments.length > 0 %}
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                {% for comment in player.comments %}
                    {% render '../comment.liquid' comment: comment, userId: userId, player: player, username: username %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}